/* Estilos Globais */
/* * {
    border: 1px solid red;
} */

:root {
    --main-bg-color: rgba(0, 0, 0, 0.3); /* Cor de fundo principal */
    --text-color: rgb(255, 255, 255); /* Cor padrão para texto */
    --header-bg: rgba(0, 0, 0, 0.5); /* Fundo do cabeçalho */
    --primary-color: #919192; /* Cor de hover para links**/
}

/* Aplicação de Estilos ao HTML e Body */
html, body {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    height: 100%; /* Define a altura como 100% para ocupar toda a tela */   
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: var(--text-color); /* Cor do texto */
    justify-content: center;
    align-items: center;
}

/* Seção de Imagem */
.img {
    position: fixed; /* Fixa a imagem no fundo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa a largura total */
    height: 100%; /* Ocupa a altura total */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Cobre toda a área */    
    z-index: -1; /* Fica atrás do conteúdo */
}

#img-index {
    background-image: url('imagem/montanha.jfif'); /* Imagem de fundo */
    opacity: 0.5; /* Ajusta a opacidade da imagem */
}

#img-pessoal {
    background-image: url('imagem/floresta1.jpg'); /* Imagem de fundo */
    opacity: 0.5; /* Ajusta a opacidade da imagem */
}

#img-profissional {
    background-image: url('imagem/f2.jpg'); /* Imagem de fundo */
    opacity: 0.1; /* Ajusta a opacidade da imagem */
}

#img-portfolio {
    background-image: url('imagem/fut1.jpg'); /* Imagem de fundo */
    opacity: 0.5; /* Ajusta a opacidade da imagem */
}


#img-formacao {
    background-image: url('imagem/mar1.jpg'); /* Imagem de fundo */
    opacity: 0.5; /* Ajusta a opacidade da imagem */
}

#img-contato {
    background-image: url('imagem/contat.jpg'); /* Imagem de fundo */
    opacity: 0.5; /* Ajusta a opacidade da imagem */
}



/* Header */
header {
    position: fixed; /* Fixa o cabeçalho */
    width: 100%; /* Largura total */
    z-index: 10; /* Fica acima do conteúdo */
    background: var(--header-bg); /* Fundo semitransparente do cabeçalho */
    padding: 0.5px 0; 
}

/* Menu de Navegação */
.menu-link {
    position: relative; /* Posiciona o elemento relativo */
    z-index: 10; /* Mantém o menu visível */
}

.menu-link ul {
    list-style: none; /* Remove as bolinhas da lista */
    display: flex; /* Flexbox para menu */
    justify-content: center; /* Centraliza itens horizontalmente */
    align-items: center; /* Centraliza itens verticalmente */
    flex-wrap: wrap; /* Permite quebra de linha */
    padding: 0;
}

.menu-link li {
    margin: 0 2rem; /* Espaçamento entre os itens */
}

.menu-link a {
    display: inline-block; /* Torna o link como um botão */
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px; /* Adiciona espaçamento interno */
    border: 2px solid var(--primary-color); /* Define a borda */
    border-radius: 5px; /* Arredonda as bordas */
    background-color: var(--header-bg); /* Cor de fundo */
    box-shadow: 0 4px 0 var(--primary-color), 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para o efeito */
    transition: all 0.2s ease; /* Transição suave */
}

/* Efeito de hover nos links do menu */
.menu-link a:hover {
    background-color: var(--primary-color);
    color: var(--text-color); /* Mantém a cor do texto em hover */
    transform: translateY(-2px); /* Levanta um pouco no hover */
}

.menu-link a:active {
    box-shadow: 0 2px 0 var(--primary-color), 0 2px 3px rgba(0, 0, 0, 0.2); /* Reduz a sombra */
    transform: translateY(2px); /* Move o botão para baixo */
}

/* Media Query para Ajustar o Menu em Telas Menores */
@media (max-width: 768px) {
    .menu-link ul {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: flex-start; /* Alinha à esquerda */
    }
    .menu-link li {
        margin: 0.5rem 0; /* Margem vertical entre itens */
    }
}

/* Conteúdo Principal */
main {
    min-height: calc(100vh - 48px); /* Altura mínima */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Alinha itens em coluna */
    justify-content: center; /* Centraliza itens verticalmente */
}

.main-contato {
    justify-content:  flex-start; /* Alinha os itens no início do contêiner flexível */
}

/* Seções */
.secao-bemvindo, .secao-pessoal, .secao-profissional, .secao-portfolio, .secao-contato, .secao-formacao {
    margin-top: 3rem; /* Margem superior */
    padding-top: 0; /* Remove padding superior */
    display: flex; /* Usar flexbox */
    align-items: flex-start; /* Alinha itens ao topo */
    justify-content: flex-start; /* Centraliza horizontalmente */
    text-align: left; /* Alinha texto à esquerda */
    padding-left: 5rem; /* Padding à esquerda */
    padding-right: 5rem; /* Padding à esquerda */
    position: relative; 
}

/* Estilo do Conteúdo nas Seções */
.secao-bemvindo .content,
.secao-pessoal .content  {
    background-color: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
    padding: 1.25rem; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    margin-top: 4rem;
}

.secao-profissional .content {
    background-color: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
    padding: 1.25rem; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    margin-top: 4rem;
}

.secao-portfolio .content {
    margin-top: 4rem; /* Margem superior */
    background-color: rgba(411, 411, 411, 0.5); /* Fundo semi-transparente */
    padding-top: 1rem;  /* Espaçamento superior */
    padding-right: 4rem; /* Espaçamento à direita */
    padding-bottom: 1rem; /* Espaçamento inferior */
    padding-left: 4rem; /* Espaçamento à esquerda */
    border-radius: 30px; /* Cantos arredondados */
}

.secao-contato .content, .secao-formacao .content {
    background-color: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
    padding: 0.25rem; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    margin-top: 2rem; /* Margem superior */
    padding-top: 1rem;  /* Espaçamento superior */
    padding-right: 5rem; /* Espaçamento à direita */
    padding-bottom: 1rem; /* Espaçamento inferior */
    padding-left: 5rem; /* Espaçamento à esquerda */

}

.portfolio {
    padding-top: 1rem;  /* Espaçamento superior */
    padding-right: 1rem; /* Espaçamento à direita */
    padding-bottom: 1rem; /* Espaçamento inferior */
    padding-left: 1rem; /* Espaçamento à esquerda */
    border-radius: 60px; /* Cantos arredondados */
    margin-bottom: 14px;
}

.portfolio-1 {
    background-color: rgba(219, 98, 28, 0.6); /* Fundo semi-transparente */
}

.portfolio-2 {
    background-color: rgba(211, 253, 12, 0.5); /* Fundo semi-transparente */
}

.portfolio-3 {
    background-color: rgba(66, 28, 102, 0.39); /* Fundo semi-transparente */
}

.portfolio-4 {
    background-color: rgba(63, 77, 199, 0.562); /* Fundo semi-transparente */
}

.portfolio-5 {
    background-color: rgba(133, 63, 199, 0.562); /* Fundo semi-transparente */
}

.portfolio-6 {
    background-color: rgba(199, 63, 63, 0.562); /* Fundo semi-transparente */
}

.portfolio-7 {
    background-color: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
}


.formacao {
    padding-top: 0.5rem;  /* Espaçamento superior */
    padding-right: 1rem; /* Espaçamento à direita */
    padding-bottom: 1rem; /* Espaçamento inferior */
    padding-left: 1rem; /* Espaçamento à esquerda */
    border-radius: 60px; /* Cantos arredondados */
    margin-bottom: 14px;
    margin-left: 0.5rem;
}

.p-formacao {
    margin-left: 4rem;
}

.li-formacao {
    color: rgb(255, 255, 255);
    margin-left: 4rem;
}

.grid-port-1 {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr); /* 3 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 0.5px 0.5px; /* Centraliza o grid horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
    border-radius: 30px;
}


.grid-port-2 {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr); /* 3 coluna */
    gap: 20px; /* Espaçamento entre os itens no grid */
    margin: 0.5px 0.5px; /* Margens em torno do grid com centralização */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
    border-radius: 50%;
}

.grid-port-3 {
    display: grid;
    grid-template-columns: repeat(5, 0.1fr); /* 5 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 0.5px 0.5px; /* Centraliza o grid horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
}

.grid-port-4 {
    display: grid;
    grid-template-columns: repeat(5, 0.1fr); /* 5 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 0.5px 0.5px; /* Centraliza o grid horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
    border-radius: 50%;
}

.grid-port-5 {
    display: grid;
    grid-template-columns: repeat(2,0.1fr); /* 2 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 0.5px 0.5px; /* Centraliza o grid horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
}

.grid-port-6 {
    display: grid;
    grid-template-columns: repeat(2,0.1fr); /* 2 colunas de tamanhos iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 0.5px 0.5px; /* Centraliza o grid horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os itens do grid */
    align-content: center; /* Centraliza verticalmente os itens do grid */
}


.img-portfolio-2 {
    
    width: 10vw; 
    height: 25vh; 
    max-width: 300px;
    border-radius: 30px;
}

.img-portfolio-3 {
    
    width: 12vw; 
    height: 25vh; 
    max-width: 300px;
    border-radius: 30px;
}
.img-portfolio-4 {
    
    object-fit: cover; /* Garante que a imagem cubra o espaço enquanto mantém a proporção */
    width: 10vw;  /* 50% da largura da janela de visualização */
    height: 15vh;
    border-radius: 20%;
}

.img-portfolio-5 {
    
    object-fit: cover; /* Garante que a imagem cubra o espaço enquanto mantém a proporção */
    width: 300px;  /* 50% da largura da janela de visualização */
    height: 500px;
    border-radius: 10%;
}


.img-portfolio-6 {
    
    width: 20vw; 
    height: 40vh; 
    max-width: 300px;
    border-radius: 30px;
}


/* Seção de Videos tamanhos */

.video-portfolio-1 {
    width: 80vw; /* ocupa toda a largura do contêiner */
    height: 30vh; /* altura ajustada proporcionalmente */
    max-width: 300px; /* largura máxima desejada */
    border-radius: 30px;
}

.video-portfolio-2 {
    width: 70vw; 
    height: 25vh; 
    max-width: 300px; 
    justify-content: center;
    align-content: center;
    gap: 1px;
    border-radius: 30px;
}

.video-portfolio-3 {
    width: 12vw; /* ocupa toda a largura do contêiner */
    height: 25vh; /* altura ajustada proporcionalmente */
    max-width: 300px; /* largura máxima desejada */
}

.video-portfolio-4 {
    width: 10vw; /* ocupa toda a largura do contêiner */
    height: 20vh; /* altura ajustada proporcionalmente */
    max-width: 300px; /* largura máxima desejada */
}

/* Seção de Videos tamanhos */
.video-portfolio-5 {
    width: 50vw; /* ocupa toda a largura do contêiner */
    height: 55vh; /* altura ajustada proporcionalmente */
    max-width: 300px; /* largura máxima desejada */
    border-radius: 10%;
}

/* Seção de Videos tamanhos */
.video-portfolio-6 {
    width: 60vw; /* ocupa toda a largura do contêiner */
    height: 50vh; /* altura ajustada proporcionalmente */
    max-width: 300px; /* largura máxima desejada */
    border-radius: 20%;
}


/* Títulos */
.h1-bemvindo-titulo {
    font-family: 'Times New Roman'; /* Fonte do título */
    margin: 0.5rem auto 0.5rem auto; /* Margens centralizadas */
    font-size: 6rem; /* Tamanho do título */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(0, 0, 0, 0.5); /* Cor do texto */
}

.h1-pessoal-titulo {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 0.5rem auto 0.5rem auto; /* Margens */
    font-size: 6rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(20, 16, 63, 0.6); /* Cor do texto */
}

.h1-profissional-titulo {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 0.5rem auto 0.5rem auto; /* Margens */
    font-size: 5rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(7, 4, 31, 0.8); /* Cor do texto */
    width: 100%; /* Altera a largura para 80% do contêiner pai */
    
}

.h1-profissional-titulo2 {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 1rem auto 0.5rem auto; /* Margens */
    font-size: 4rem; /* Tamanho da fonte */
    text-align: right; /* Alinha o texto ao centro */
    color: rgba(20, 16, 63, 0.8); /* Cor do texto */
}

.h1-portfolio-titulo {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 0.5rem 1rem 0.5rem auto; /* Margens */
    font-size: 6rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(7, 4, 31, 0.8); /* Cor do texto */
}

.h1-contato-titulo {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 0rem 0rem 0.5rem auto; /* Margens */
    font-size: 6rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(76, 71, 117, 0.8); /* Cor do texto */
}

.h1-formacao-titulo {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 0rem 0rem 0.5rem auto; /* Margens */
    font-size: 6rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: rgba(24, 2, 53, 0.842); /* Cor do texto */
}

.h2-profissional {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 4rem 1rem 0.5rem 5rem; /*  cima, direita, embaixo, esquerda */
    font-size: 2rem; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto ao centro */
    color: rgba(105, 27, 7, 0.8); /* Cor do texto */
}


.h2-portfolio {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 2rem 1rem 0.5rem 2rem; /*  cima, direita, embaixo, esquerda */
    font-size: 2rem; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto ao centro */
    color: rgba(105, 27, 7, 0.8); /* Cor do texto */
}

.h2-formacao {
    font-family: 'Times New Roman', serif; /* Fonte do título */
    margin: 1rem 1rem 0.5rem 2rem; /*  cima, direita, embaixo, esquerda */
    font-size: 2rem; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto ao centro */
    text-decoration: underline;
    color: rgba(117, 0, 0, 0.884); /* Cor do texto */
}

strong {
    font-size: 20px;
    font-weight: 700px;
    color: rgb(0, 0, 0);
}

.negrito-certificado     {
    font-size: 15px;
    font-weight: 700;
    color: blue;
}

/* Parágrafos */
.secao-bemvindo p {
    font-family: Cambria, serif; /* Define fonte para parágrafos */
    margin: 0.5rem 0; /* Margens dos parágrafos */
    padding-left: 2rem; /* Desloca o parágrafo */
    font-size: 3rem; /* Tamanho da fonte */
    color: #020103; /* Cor do texto */
}

/* Parágrafos */ 
.secao-pessoal p {
    font-family: Cambria, serif; /* Define fonte para parágrafos */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #020103; /* Cor do texto */
    margin: 0.5rem 10rem 0.5rem 10rem; /* Define margem: 0.5rem em cima, 3rem à direita, 0.5rem embaixo, 0 à esquerda */
}

/* Parágrafos */ 
.secao-profissional p {
    font-family: Cambria, serif; /* Define fonte para parágrafos */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #020103; /* Cor do texto */
    margin: 0.5rem 15rem 0.5rem 10rem; /* Define margem: ?.?rem em cima, ?.?rem à direita, ?.?rem embaixo, ?.? à esquerda */

}


/* Parágrafos */ 
.secao-portfolio p {
    font-family: Cambria, serif; /* Define fonte para parágrafos */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #020103; /* Cor do texto */
    margin: 0.5rem 3% 1rem 10rem; /* Define margem: ?.?rem em cima, ?.?rem à direita, ?.?rem embaixo, ?.? à esquerda */

}

/*SECAO BEM VINDO*/
/* Estilo para criar efeito de degraus */
.secao-bemvindo p:nth-child(1) {
    padding-left: 0; /* Primeiro parágrafo sem recuo */
}
.secao-bemvindo p:nth-child(2) {
    padding-left: 2rem; /* Segundo parágrafo com recuo */
}
.secao-bemvindo p:nth-child(3) {
    padding-left: 4rem; /* Terceiro parágrafo com mais recuo */
}
.secao-bemvindo p:nth-child(4) {
    padding-left: 6rem; /* Quarto parágrafo com mais recuo */
}
.secao-bemvindo p:nth-child(5) {
    padding-left: 8rem; /* Quinto parágrafo com mais recuo */
}
.secao-bemvindo p:nth-child(6) {
    padding-left: 10rem; /* Quinto parágrafo com mais recuo */
}

/*SECAO PESSOAL*/
/* Estilo da Primeira Letra dos Parágrafos */
.p-pessoal {
    text-indent: 3rem; /* Recuo na primeira linha do parágrafo */
}

.p-pessoal::first-letter {
    color: rgb(17, 21, 214); /* Cor da primeira letra */
    font-size: 3rem; /* Tamanho da primeira letra */
    line-height: 1; /* Altura da linha da primeira letra */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define fonte para parágrafos*/
}

/*SECAO bemvindo*/
/* Estilo da Primeira Letra dos Parágrafos */
.p-bemvindo::first-letter {
    color: red; /* Cor da primeira letra */
    font-size: 4rem; /* Tamanho da primeira letra */
    line-height: 1; /* Altura da linha da primeira letra */
}

/*SECAO profissional*/
/* Estilo da Primeira Letra dos Parágrafos */
.p-profissional {
    text-indent: 3rem; /* Recuo na primeira linha do parágrafo */   
}

.p-profissional::first-letter {
    color: rgb(243, 247, 7); /* Cor da primeira letra */
    font-size: 2rem; /* Tamanho da primeira letra */
    line-height: 1; /* Altura da linha da primeira letra */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define fonte para parágrafos*/
}

/*SECAO Portfolio*/
/* Estilo da Primeira Letra dos Parágrafos */
.p-portfolio {
    text-indent: 2rem; /* Recuo na primeira linha do parágrafo */
    
}

.p-portfolio::first-letter {
    color: rgb(7, 7, 7); /* Cor da primeira letra */
    font-size: 2rem; /* Tamanho da primeira letra */
    line-height: 1; /* Altura da linha da primeira letra */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define fonte para parágrafos*/
}


/* Estilos de Acessibilidade */
body {
    background-color: var(--main-bg-color); /* Aplica a variável de cor de fundo */
}

/* Declaração de Fontes Personalizadas */
@font-face {
    font-family: 'DMSerifText-Regular'; /* Nome da fonte */
    src: url('fonts/DMSerifText-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-VariableFont_wght'; /* Nome da fonte */
    src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceCodePro-VariableFont_wght'; /* Nome da fonte */
    src: url('fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}


/* Estilos para o footer */
footer {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    color: var(--text-color); /* Cor do texto conforme suas variáveis */
    padding: 1px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Se quiser fixar ou adaptar ao fluxo do DOM */
}

/* Container do conteúdo do footer */
.footer-content {
    max-width: 500px; /* Limita a largura */
    margin: 0 auto; /* Centraliza o conteúdo */
}

/* Estilos para a lista de links sociais */
.social-links {
    list-style: none; /* Remove bolinhas da lista */
    padding: 0; /* Remove padding */
}

.social-links li {
    display: inline; /* Exibe os itens em linha */
    margin: 0 10px; /* Espaçamento entre os links */
}

.social-links a {
    color: var(--text-color); /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Destaca o texto */
}

.social-links a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

 /* Estilo para os rótulos */
label {
    font-size: 30px; /* Aumenta o tamanho do texto */
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="email"],
textarea {
    font-size: 16px; /* Aumenta o tamanho do texto */
    width: 400px; /* Define a largura das caixas de texto */
    padding: 10px; /* Adiciona preenchimento interno para aumentar o tamanho da caixa */
}

/* Estilo para o botão de envio */
button {
    font-size: 20px; /* Aumenta o tamanho do texto do botão */
    padding: 12px 22px; /* Adiciona preenchimento interno ao botão */
}

 /* Estilo para mensagem de alerta */
#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* Inicialmente menor */
    background-color: lightgreen;
    padding: 5vw;
    font-size: 4vw;
    text-align: center;
    border: 2px solid rgb(26, 141, 26);
    z-index: 1000;
    width: 80%;
    max-width: 100rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: rotateIn 0.6s ease-out forwards; /* Aplica a animação */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Ajustes para telas menores */
@media (max-width: 480px) {
    #alert {
        font-size: 6vw;
        padding: 8vw;
    }
}

@keyframes rotateIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) rotateY(90deg) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) rotateY(0deg) scale(1);
    }
}